<div class="graph_dashboard">
  <div class="card card_1">
    <div class="card-header">
      <input type="checkbox" (change)="togglePieChart(1)" /> Show Pie Chart
    </div>
    <p-chart *ngIf="!showPieChart1" type="bar" [data]="basicData1" [options]="basicOptions1"></p-chart>
    <p-chart *ngIf="showPieChart1" type="pie" [data]="pieData1" [options]="pieOptions"></p-chart>
  </div>
  <div class="card card_2">
    <div class="card-header">
      <input type="checkbox" (change)="togglePieChart(2)" /> Show Pie Chart
    </div>
    <p-chart *ngIf="!showPieChart2" type="bar" [data]="basicData2" [options]="basicOptions2"></p-chart>
    <p-chart *ngIf="showPieChart2" type="pie" [data]="pieData2" [options]="pieOptions"></p-chart>
  </div>
  <div class="card card_3">
    <div class="card-header">
      <input type="checkbox" (change)="togglePieChart(3)" /> Show Pie Chart
    </div>
    <p-chart *ngIf="!showPieChart3" type="bar" [data]="basicData3" [options]="basicOptions3"></p-chart>
    <p-chart *ngIf="showPieChart3" type="pie" [data]="pieData3" [options]="pieOptions"></p-chart>
  </div>
  <div class="card card_4">
    <div class="card-header">
      <input type="checkbox" (change)="togglePieChart(4)" /> Show Pie Chart
    </div>
    <p-chart *ngIf="!showPieChart4" type="bar" [data]="basicData4" [options]="basicOptions4"></p-chart>
    <p-chart *ngIf="showPieChart4" type="pie" [data]="pieData4" [options]="pieOptions"></p-chart>
  </div>
</div>
