.graph_dashboard {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Space between cards */
  height: auto; /* Adjusted to fit the content height */
}

.card {
  flex: 1 1 calc(50% - 20px); /* Two cards per row with spacing */
  box-sizing: border-box;
  max-width: calc(50% - 20px); /* Ensure cards fit within the row */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden; /* Hide overflow content */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

p-chart {
  width: 100%;
  max-width: 100%; /* Ensure charts do not overflow */
  height: auto;
}

/* Styling for bar charts */
.card p-chart[type="bar"] {
  max-height: 300px; /* Adjust the max height as needed */
}

/* Styling for pie charts */
.card p-chart[type="pie"] {
  width: 80%; /* Adjust size of pie chart to fit within the card */
  max-width: 300px; /* Limit max width of pie chart */
  height: auto;
  max-height: 300px; /* Adjust max height if needed */
}
